<!DOCTYPE html>
<html>
<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark" ngSkipHydration>
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Gestion Restaurants</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/restaurants">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Restaurants
            </a>
            <ul class="dropdown-menu">
              <!-- Ajouter visible seulement pour les administrateurs -->
              <a *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="/add-restaurant">Ajouter</a>
              <li><a class="dropdown-item" href="#">Lister</a></li>
              <li><a class="dropdown-item" routerLink="/rechercheParType">Recherche Par Type</a></li>
              <li><a class="dropdown-item" routerLink="/rechercheParNom">Recherche Par Nom</a></li>
              <li><a class="dropdown-item" routerLink="/listeTypes" >Gestion des types</a></li>
            </ul>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <!-- User Information -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link">{{ authService.loggedUser }}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown" aria-expanded="false">
              connexion
            </a>
            <ul class="dropdown-menu">
              <li><a *ngIf="!authService.isloggedIn" class="dropdown-item" routerLink = "login">Login</a></li>
              <li><a *ngIf="authService.isloggedIn" class="dropdown-item" (click) = "onLogout()">Logout</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
</html>
